<div class="text-center">
    <a href="{{ url('hwi_oauth_service_redirect', {'service': 'facebook'}) }}">
        <img src="{{ asset('assets/images/facebook.png') }}">
    </a>
    <a href="{{ url('hwi_oauth_service_redirect', {'service': 'vkontakte'}) }}">
        <img src="{{ asset('assets/images/vkontakte.png') }}">
    </a>
</div>